<div class="content">
  <div class="header_wrapper">
    <div>
      <h4>Nutrition Calculator</h4>
      <p>Our extensive nutrient database boasts over 70,000 unique foods, including: raw ingredients, manufacturers’
        foods, processing items and more.</p>
    </div>
    <div>
      <h4>Getting started</h4>
      <p>Search for a food item below to get a list of selections meeting your search criteria and add the closest
        match to your recipe list.
        From there, navigate to your list, enter a quantity for each product and view a nutrition breakdown of total
        Calories, Fat, Protein, and other nutrients.</p>
    </div>
  </div>
  <div class="input_wrapper">
    <igx-input-group type="search" class="offset" (keydown.enter)="searchProduct()">
      <igx-prefix class="input-icons">
        <igx-icon *ngIf="searchText.length == 0">search</igx-icon>
        <igx-icon *ngIf="searchText.length > 0" (click)="clearSearch()">clear</igx-icon>
      </igx-prefix>
      <input #search1 id="search1" igxInput [(ngModel)]="searchText" />
    </igx-input-group>
    <button class="search-button" igxButton="raised" (click)="searchProduct()">Search</button>
  </div>
  <div class="content_wrapper">
    <igx-expansion-panel #panel>
      <igx-expansion-panel-header [disabled]="true" [iconPosition]="'none'">
        <igx-expansion-panel-description>
          <igx-card *ngIf="food && food.calories!=0; else emptySearchTemplate">
              <igx-card-header>
                  <igx-card-actions >
                      <div class="igx-card-actions__igroup--end">
                        <span>
                        <button igxButton="icon" (click)="addProduct()">
                          <igx-icon>add_circle</igx-icon>
                      </button>  
                      <button igxButton="icon" (click)="showDetails()">
                        <igx-icon>info</igx-icon>
                    </button>
                  </span>
                      </div>
                  </igx-card-actions>
                </igx-card-header>
            <igx-card-header class="card_header_wrapper">
              <igx-avatar src="assets/images/energy.svg" roundShape="true" size="large"> </igx-avatar>
              <h3 class="igx-card-header__title">ENERGY</h3>
              <h3 class="igx-card-header__title">{{food.calories}} kcal</h3>
            </igx-card-header>
            <igx-card-content>
              <div class="card_content_wrapper">
                <div>
                  <igx-avatar src="assets/images/carbs.svg" roundShape="true" size="large"> </igx-avatar>
                  <p class="igx-card-content__text">CARBS</p>
                  <p class="igx-card-content__text">{{food.carbs}} kcal</p>
                </div>
                <div>
                  <igx-avatar src="assets/images/protein.svg" roundShape="true" size="large"> </igx-avatar>
                  <p class="igx-card-content__text">PROTEIN</p>
                  <p class="igx-card-content__text">{{food.protein}} kcal</p>
                </div>
                <div>
                  <igx-avatar src="assets/images/fat.svg" roundShape="true" size="large"> </igx-avatar>
                  <p class="igx-card-content__text">FAT</p>
                  <p class="igx-card-content__text">{{food.fat}} kcal</p>
                </div>
              </div>
            </igx-card-content>
          </igx-card>
        </igx-expansion-panel-description>
      </igx-expansion-panel-header>
      <igx-expansion-panel-body>
        <igx-list *ngIf="food && food.calories!=0">
          <div class="nutients-container">
            <div class="left-nutrients-container">
            <div class="fat-nutrients-container">
                <igx-list-item isHeader="true">
                    <span class="nutrient-header">FAT</span>
                  </igx-list-item>
                <igx-list-item *ngFor="let nutrient of food.fatNutirents">
                  <div class="item-container">
                    <span class="nutrient-label">{{ nutrient.label }}</span>
                    <span class="nutrient-value">{{ nutrient.quantity | number:'1.2-2' }}{{ nutrient.unit }}</span>
                  </div>
                  </igx-list-item>
            </div>
            <div class="vitamin-nutrients-container">
                <igx-list-item isHeader="true">
                    <span class="nutrient-header">VITAMINS</span>
                  </igx-list-item>
                <igx-list-item *ngFor="let nutrient of food.vitaminNutirents">
                    <div class="item-container">
                    <span class="nutrient-label">{{ nutrient.label }}</span>
                    <span class="nutrient-value">{{ nutrient.quantity | number:'1.2-2' }}{{ nutrient.unit }}</span>
                    </div>
                  </igx-list-item>
            </div>
          </div>
          <div class="right-nutrients-container">
            <div class="carb-nutrients-container">
                <igx-list-item isHeader="true">
                    <span class="nutrient-header">CARBS</span>
                  </igx-list-item>
                <igx-list-item *ngFor="let nutrient of food.carbNutirents">
                    <div class="item-container">
                    <span class="nutrient-label">{{ nutrient.label }}</span>
                    <span class="nutrient-value">{{ nutrient.quantity | number:'1.2-2' }}{{ nutrient.unit }}</span>
                    </div>
                  </igx-list-item>
            </div>
            <div class="mineral-nutrients-container">
                <igx-list-item isHeader="true">
                    <span class="nutrient-header">MINERALS</span>
                  </igx-list-item>
                <igx-list-item *ngFor="let nutrient of food.mineralNutirents">
                    <div class="item-container">
                    <span class="nutrient-label">{{ nutrient.label }}</span>
                    <span class="nutrient-value">{{ nutrient.quantity | number:'1.2-2' }}{{ nutrient.unit }}</span>
                    </div>
                  </igx-list-item>
            </div>
          </div>
          </div>
        </igx-list>
      </igx-expansion-panel-body>
    </igx-expansion-panel>
  </div> 
  <ng-template #emptySearchTemplate>
    <igx-card>
      <igx-card-content>
        <div class="emptySearchTemplate">
          <igx-avatar src="assets/images/plate.jpg" roundShape="true" size="large"> </igx-avatar>
          <p>Search our database to find your recipe ingredients</p>
        </div>
      </igx-card-content>
    </igx-card>
  </ng-template>
  <igx-toast #toast></igx-toast>
</div>