@import '~igniteui-angular/lib/core/styles/themes/utilities';

%content-display {
    width: 100%;
    height: 100%;
    background-image: url('../images/food_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    text-align: center;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: center;
    padding: 40px 24px 40px 24px;
    overflow: auto
}

@include b(content) {
    @extend %content-display;
    @include e(header) {
        color: igx-color($default-palette, 'primary');
    }
    .header_wrapper {
        width: 50%;
        background-color: rgb(234, 237, 242);
        font-size: 20px;
        display: flex;
        flex-flow: row;
    }
    .header_wrapper > div {
        width: 50%;
    }
    .header_wrapper > div > h4 {
        color: #ce5712;
    }
    .input_wrapper {
        width: 50%;
        margin: 20px 0px 20px 0px;
        display: flex;
        flex-direction: row;
     }
     .offset{
         width: 80%;
         height: 3rem;
     }
     .search-button{
         width: 20%;
         height: 3rem;
     }
     .content_wrapper{
         width: 50%;
         flex-direction: column;
         align-items: center;
     }
     .card_header_wrapper{
         justify-content: center;
     }
     .card_content_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-bottom: 1rem;
     }
     .card_content_wrapper> div > p,
     .card_header_wrapper > h3 {
         padding: 0.5rem 0 0 0;
     }
     .nutients-container{
         display: flex;
         flex-flow: column;
         height: 500px;
     }
    .igx-paginator {
       display: flex;
       align-items: center;
    }
    // .emptySearchTemplate {
    //     position: absolute;
    //     top: 50%; left: 50%;
    //     transform: translate(-50%,-50%);
    //  }
    //  .emptySearchTemplate > p {
    //      padding-top: 2rem;
    //  }     
}